.navbar-custom {
  background-color: #005fa3;
  border-color: #004c82;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#007dd6), to(#005fa3));
  background-image: -webkit-linear-gradient(top, #007dd6, 0%, #005fa3, 100%);
  background-image: -moz-linear-gradient(top, #007dd6 0%, #005fa3 100%);
  background-image: linear-gradient(to bottom, #007dd6 0%, #005fa3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff007dd6', endColorstr='#ff005fa3', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ebe5e5;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #d5c8c8;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ebe5e5;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #004c82;
}
.navbar-custom .navbar-nav > li > a {
  color: #ebe5e5;
  border-left: 1px solid #004c82;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #004c82;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#004c82), to(#0069b5));
  background-image: -webkit-linear-gradient(top, #004c82, 0%, #0069b5, 100%);
  background-image: -moz-linear-gradient(top, #004c82 0%, #0069b5 100%);
  background-image: linear-gradient(to bottom, #004c82 0%, #0069b5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff004c82', endColorstr='#ff0069b5', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #004a7f;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #004c82;
  color: #000000;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ebe5e5;
  border-bottom-color: #ebe5e5;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ebe5e5;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #004c82;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ebe5e5;
}
.navbar-custom .navbar-link:hover {
  color: #000000;
}